* {
    padding: 0;  
    margin: 0;  
    box-sizing: border-box;  
}
button {
    border-radius: 30px;
    padding: 2vh 2vw;
    font-size: 20px;
    color: #dbd8e3;
    background: #5c5470;
    border-width: 0px;
}
body {
    width: 100vw;
    height: 100vh;
    position: absolute;

    display: flex;
    flex-direction: column;

    align-items: center;
    background: #2a2438; 
    }
#calcContainer {
    display: flex;
    flex-direction: column;

    width: 40vw;
    height: 70vh;
    padding: 0.5vw;
    border: 0.25vw solid rebeccapurple;
    background-color: #352f44;
    border-radius: 4px;
}
#display {
    width: 38.5vw;
    height: 10vh;
    /* Temporary to see the div*/
    border: 0.125vw solid rebeccapurple;
    text-align: end;
    font-size: 30px;
    color: #dbd8e3;

}
.buttonContainer {
    display: flex;
    width: 38vw;
    height: 15vh;

    align-items: center;
    justify-content: space-between;
    
}
header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 15vh;
}
#Title {
    color: #dbd8e3;
    display: flex;
    justify-content: center;
    font-size: clamp(20px, 4vw, 40px);
    width: 100vw;
    height: 4vh;
}
footer {
    color: #dbd8e3;
    margin-top: 8vh;
}